{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning",
      "Aspire.Hosting.Dcp": "Warning"
    }
  },
  "UserManagement": {
    "ConnectionStrings": {
      "SQL": "Host=<HOST>; Database=<DB>; Username=<USER>; Password=<PASSWORD>;"
    }
  },
  "TenantService": {
    "ConnectionStrings": {
      "SQL": "Host=<HOST>; Database=<DB>; Username=<USER>; Password=<PASSWORD>;"
    }
  },
  "JwtSettings": {
    "Secret": "<JWT_SECRET>",
    "ExpiryMinutes": 15,
    "Issuer": "<ISSUER>",
    "Audience": "<AUDIENCE>"
  },
  "ConnectionStrings": {
    "redis": "<REDIS_HOST>:<PORT>,password=<PASSWORD>,ssl=<true|false>,abortConnect=<true|false>"
  },
  "Kafka": {
    "BootstrapServers": "<BOOTSTRAP_SERVERS>",
    "SecurityProtocol": "<SASL_SSL|PLAINTEXT>",
    "SaslMechanism": "<SASL_MECHANISM>",
    "SaslUsername": "<KAFKA_USERNAME>",
    "SaslPassword": "<KAFKA_PASSWORD>"
  }
}
